/build
/.cache
/compile_commands.json
/data.csv
.dir-locals.el
__pycache__/
/renode_latest
/twister-out*
/.venv
/workflows

# editor-specific files
.dir-locals.el
.vscode

# docs
.python-version
uv.lock
docs/xml
