# Copyright (c) 2025 Antmicro <www.antmicro.com>
#
# SPDX-License-Identifier: Apache-2.0

config ANOMALY_LIB
    bool "Support for anomaly lib"

choice ANOMALY_LIB_BACKEND
    prompt "Backend used for anomaly detection"
    depends on ANOMALY_LIB
    default ANOMALY_LIB_BACKEND_NONE

config ANOMALY_LIB_BACKEND_NONE
    prompt "no backend"
    bool

config ANOMALY_LIB_BACKEND_EMLEARN
    prompt "emlearn-based backend"
    bool
    depends on EMLEARN

config ANOMALY_LIB_BACKEND_KENNING
    prompt "kenning-based backend"
    bool
    depends on KENNING_INFERENCE_LIB

endchoice

config ANOMALY_LIB_EMLEARN_MODEL_PATH
    prompt "emlearn model path"
    string
    depends on ANOMALY_LIB_BACKEND_EMLEARN

config ANOMALY_LIB_EMLEARN_THRESHOLD
    prompt "emlearn threshold"
    int
    default 50000
    depends on ANOMALY_LIB_BACKEND_EMLEARN

config ANOMALY_LIB_KENNING_MAX_INPUT_COUNT
    prompt "kenning backend maximum input count"
    int
    default 32
    depends on ANOMALY_LIB_BACKEND_KENNING

config ANOMALY_LIB_KENNING_MAX_OUTPUT_COUNT
    prompt "kenning backend maximum output count"
    int
    default 32
    depends on ANOMALY_LIB_BACKEND_KENNING

config ANOMALY_LIB_DETECTION_CALLBACKS
    prompt "callback-based anomaly detection handling"
    bool
    default y

config ANOMALY_LIB_DETECTION_CALLBACKS_STACKSIZE
    prompt "stack size for each thread spawned"
    int
    default 2048
    depends on ANOMALY_LIB_DETECTION_CALLBACKS
