&i2c1 {
    lis2ds12N1: lis2ds12@3d {
        compatible = "st,lis2ds12";
        reg = <0x3d>;
        status = "okay";
    };
    lis2ds12N2: lis2ds12@2d {
        compatible = "st,lis2ds12";
        reg = <0x2d>;
        status = "okay";
    };
};
